<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<link rel="stylesheet" type="text/css" href="public/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="public/libs/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="public/css/app.css">
</head>
<body>