<div class="container">
  <div class="topbar-container">
    <div class="topbar">
      <a href="/" class="left-item">
        <i id="icon" class="fas fa-heartbeat"></i>
      </a>
      <a href="/" id="name" class="left-item">
        Date.ME
      </a>
      <a href="/" class="nav-item <% if(locals.url === '/'){%><%= 'active'%><%}%>">
        Home
      </a>
      <a href="#" class="nav-item <% if(locals.url === '/community'){%><%= 'active'%><%}%>">
        Community
      </a>
      
    </div>
  </div>
</div>
