<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid header_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img id="avatar_image" src="/uploads/<%= user.profileImage %>">
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
