<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
	<div class="header">
		<div class="row">
			<div class="user-image">
				<img src="/uploads/<%= user.profileImage %>">
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
