<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container settings_container">
    <%- messages() %>
    <div class="row">
        <div class="col-sm-3 settings_category">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="/user/settings/profile">Profile</a>
                </li>
                <li>
                    <i class="fas fa-lock"></i>
                    <a href="/user/settings/security">Security</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <% if(locals.url === "/user/settings/profile") {%>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h5>Update Profile Image</h5>
                        <hr class="custom-hr">
                        <div class="updateImage">
                            <form action="/user/settings/profile/updateProfileImage" method="POST" enctype="multipart/form-data">
                                <div class="form-group inputDnD">
                                    <label class="sr-only" for="inputFile">File Upload</label>
                                    <input type="file" name="avatar" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="Drag and drop a file">
                                </div>
                                <button type="submit" id="submit_button" class="btn btn-success w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h5>Update Profile Age</h5>
                        <hr class="custom-hr">
                        <div class="updateAge">
                            <form action="/user/settings/profile/UpdateAge" method="POST">
                                <div class="form-group">
                                    <input placeholder="Age" value="<%= user.age %>" class="form-control" type="text" name="age">
                                </div>
                                <button class="btn btn-success w-100" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row settings_row">
                    <div class="col-sm-6 text-center">
                        <h5>Update Gender</h5>
                        <hr class="custom-hr">
                        <div class="updateGender">
                            <form action="/user/settings/profile/UpdateGender" method="POST">
                                <div class="form-group">
                                    <select name="gender" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <button class="btn btn-success w-100" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h5>Update City</h5>
                        <hr class="custom-hr">
                        <div class="updateCity">
                                <form action="/user/settings/profile/UpdateCity" method="POST">
                                    <div class="form-group">
                                        <input value="<%= user.city %>" type="text" name="city" class="form-control" max="1">
                                    </div>
                                    <button class="btn btn-success w-100" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                </div>

            <%} else if (locals.url === "/user/settings/security") {%>


                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="text-center">Change Password</h5>
                        <hr class="custom-hr">
                        <div class="deleteAccount">

                            <form id="updatePassword" action="/user/settings/security/UpdatePassword" method="POST">
                                <div class="form-group">
                                    <input placeholder="Current password" name="currentPassword" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input placeholder="New password" name="newPassword" type="password" class="form-control">
                                </div>
                                
                            </form>
                            <button class="btn btn-danger w-100" onclick="changePasswordNotification()">Change Password</button>
                        </div>
                    </div>

                    <div class="col-sm-6 text-center">
                            <h5>Delete Account</h5>
                            <hr class="custom-hr">
                            <div class="deleteAccount">
                                <p>
                                    Deleting your account will permanently delete all of your user data, and it won't be recoverable.
                                    Make sure you want to delete your account.
                                </p>
    
                                <button class="btn btn-danger w-100" onclick="deleteAccountNotification()">Delete Account</button>
                            </div>
                        </div>
                </div>

                

            <%}%>
        </div>
    </div>
</div>

<% if (locals.url === "/user/settings/profile") { %>
<script src="../js/profileSettings.js"></script>
<%} else if (locals.url === "/user/settings/security") { %>
<script src="../js/securitySettings.js"></script>
<% } %>
<% include ../partials/footer %>