<% include partials/header %>


<form method="post" action="/login">
	<div class="form-group">
		<i class="icon-append fa fa-user"></i>
		<label>Username</label>
		<input name="username" type="text" class="form-control" placeholder="Username">
	</div>
	<div class="form-group">
		<i class="icon-append fa fa-lock"></i>
		<label>Password</label>
		<input name="password" type="password" class="form-control" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="register" >Register</a>
</form>


<% include partials/footer %>
