<% include partials/header %>

<div class="h-100 row align-items-center">
	<div class="col-md-2 offset-md-5 col-sm-1">
	<%- messages() %>
	<div class="login_title">
		<span><i class="fas fa-heartbeat"></i></span>
		<span>Date.ME</span>
	</div>
		<form method="POST" action="/login">
			<div class="form-group">
				<label>Email:</label>
				<input autofocus type="email" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" name="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-success w-100">Login</button>
			<label style="display: block; text-align: center;" class="account_register">Don't have an account yet?</label> 
			<p style="text-align: center; font-size: 17px !important; color: #007bff;"><a class="text-info" href="/register"><a/>Click here!</p>
		</form>
	</div>
</div>


<% include partials/footer %>
