<% include partials/header %>

<div class="h-100 row">
	<div class="col-md-2 offset-md-5 col-sm-1">
	<%- messages() %>
	<h1 class="login_title">Date.ME</h1>
		<form method="POST" action="/login">
			<div class="form-group">
				<label>Email:</label>
				<input autofocus type="email" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" name="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-success w-100">Login</button>
			<label class="mt-2">Already have an account? <a class="text-info" href="/register">Click here!</a></label>
		</form>
	</div>
</div>


<% include partials/footer %>
