html, body {
  height: 100%;
  overflow-x: hidden;
  background: #20364d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #20364d 0%, #0e2439 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #20364d 0%, #0e2439 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #20364d 0%, #0e2439 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20364d', endColorstr='#0e2439',GradientType=0 );
  /* IE6-9 */
  color: white; 
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

/* General styling */

.no-spacing {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

.custom-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Login page */
.login_title {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #f67280;
  font-size: 38px;
}

.register_title {
  text-align: center;
}

/* These are the messages that is seen when a user changes its settings / logins */
#messages {
  margin-bottom: 20px;
  text-align: center; 
}
  #messages ul {
    list-style: none;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem; 
}
  #messages .success {
    background-color: #4BB543;
    border: 1px solid #4BB543; 
}
  #messages .error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; 
}

/* This is the navigation bar styling */
.topbar-container {
  position: relative;
  width: 100%;
  height: auto;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.nav_item {
  color: #9cb3c9;
  text-decoration: none;
  font-size: 1rem;
  padding-right: 0.7rem;
  font-weight: 600;
  font-size: 15px;
  padding-top: 0.2rem;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  line-height: 34px;
}

.nav_item:hover {
  color: white !important;
  text-decoration: none !important; 
}

.left_item {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0.025; 
}

.active {
  color: white;
  font-weight: 600; 
}

#icon {
	color: #f67280;
	font-size: 42px;
}

#name {
	color: #f67280;
	font-weight: 600;
	font-size: 1.2rem;
	flex-grow: 1;
	line-height: 42px;
}

#username_tooltip {
	line-height: 36px;
  padding-left: 5px;
}
.nav_avatar_image img {
  border-radius: 50%;
  margin-left: 0.5rem;
  height: 32px; 
}

.account_register {
  margin-top: 1.5rem;
  font-size: 16px;
}

.account_register a {
  font-size: 16px;
}

/* Profile Page */
/* This is used if the user is on the profile page */
.nav_profile_color {
	background: #1f364d;
}

.header_container {
	background: #1f364d;
	padding-top: 1.5rem;
}

#avatar_image {
    height: 145px;
    border-radius: 50%;
    box-shadow: 0 0 0 12px #1f364d;
    margin-bottom: -1rem;
}

.user_metadata h1 {
    font-weight: 600;
    padding-top: 1rem;
}

.user_metadata span {
    color: #9cb3c9;
    font-size: 18px;
    padding-right: 2px;
    padding-left: 2px;
}

.user_meta_bio{
    margin-top: 2.5rem;
}

.user_meta_bio p{
    color: #9cb3c9;
}

.message_column {
    background-color: #274059;
    height: 4rem;
    line-height: 3.8rem;
    border-top: 1px solid transparent;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 6px;
}

#top_message_column {
    margin-top: 4rem;
}

.custom-message-btn {
  background-image: linear-gradient(to right,#e052a0,#f15c41)!important;
}
