/* This is used if the user is on the profile page */
.nav_profile_color {
	background: #1f364d;
}

.header_container {
	background: #1f364d;
	padding-top: 1.5rem;
}

#avatar_image {
    height: 145px;
    border-radius: 50%;
    box-shadow: 0 0 0 12px #1f364d;
    margin-bottom: -1rem;
}

.user_metadata h1 {
    font-weight: 600;
    padding-top: 1rem;
}

.user_metadata p {
    color: #9cb3c9;
    font-size: 18px;
}